@font-face {
font-family: 'Montserrat Bold';
src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Montserrat Regular';
src: url('../fonts/Montserrat-Regular.woff') format('woff'); 
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Droid Serif Italic';
src: url('../fonts/DroidSerif-Italic.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Wisdom Script AI';
src: url('../fonts/Wisdom\ Script\ AI.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v8-latin-regular.woff'); 
  }