*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; 
}

body {
    background-color: #ffffff;
    color: #0a0a0a;
    width: 1200px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.page-nav {
    padding: 0px;
    margin: 0;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}

.site-logo {
    display: inline-block;
    
}

.site-navigation {
    width: 600px;
    margin: 0;
    padding: 0;
    list-style:none;
    display: flex;
    justify-content: space-between;
}

.site-navigation a {
    text-decoration: none;
    color: #1abc9c;
    font-family:'Montserrat','Roboto', sans-serif;
    font-size: 16px;
    font-weight:300;
    text-transform: uppercase;
}

.site-navigation a::after {
    content: "";
    border-bottom: 2px solid #f38181;
    display: block;
    margin-top: ;
    margin: auto;
    width: calc (100%-50px);
    padding-bottom: 10px;
    opacity: 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color:#f38181;
}

.site-navigation a:hover::after {
    opacity: 1;
}

.services-container {
    padding: 0;
    margin: 0;
    position: relative; 
    color: #333333;
    flex-wrap: wrap;
}

.services-subtittle {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    text-align: center;
    font-family:'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 30px;
}

.services-tittle {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    text-align: center;
    font-family:'Montserrat','Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.services-tittle::after {
    content: "";
    border-bottom: 2px solid #f38181;
    display: block;
    margin-top: ;
    margin: auto;
    width: 60px;
    margin-bottom: 40px;
    padding-bottom: 35px;
}

.services-list {
    display: flex;
    width: 1200px;
    height: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.services-list-item {
    position: relative; 
    list-style: none;
    width: 320px;
    height: 120px;
    font-family:'Montserrat','Roboto', sans-serif;
    font-size: 20;
    padding: 0;
    margin-left: 60px;
}

.services-item:nth-last-of-type(-n+3) {
    margin-bottom: 86px;
}
  
.services-main, .services-text {
    margin: 0;
    padding: 0;
    padding-left: 60px;
}
  
.services-main {
    margin-bottom: 14px;
    text-transform: uppercase;
    font-size: 14px;
}
  
.services-text {
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}
  
.services-list-item-content::before {
    display: block;
    content: "";
    position: absolute;
    left: 2px;
    top: 20px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}
  
.services-list-item:nth-child(1) .services-list-item-content::before {
    background-image: url(../image/Icon/Photography-icon.png);
}

.services-list-item:nth-child(2) .services-list-item-content::before {
    background-image: url(../image/Icon/web-design-icon.png);
}

.services-list-item:nth-child(3) .services-list-item-content::before {
    background-image: url(../image/Icon/creativity-icon.png);
}

.services-list-item:nth-child(4) .services-list-item-content::before {
    background-image: url(../image/Icon/seo-icon.png);
}

.services-list-item:nth-child(5) .services-list-item-content::before {
    background-image: url(../image/Icon/html-css-icon.png);
}

.services-list-item:nth-child(6) .services-list-item-content::before {
    background-image: url(../image/Icon/digital-icon.png);
}

.team-container {
    padding: 0;
    margin: 0;
    font-family:'Montserrat','Roboto', sans-serif;
    position: relative; 
    color: #333333;
    text-align: center;
}

.team-subtittle {
    margin: 0;
    padding: 0;
    font-family:'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 30px;
}

.team-tittle {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.team-tittle::after {
    content: "";
    border-bottom: 2px solid #f38181;
    display: block;
    margin-top: ;
    margin: auto;
    width: 60px;
    margin-bottom: 40px;
    padding-bottom: 35px;
}

.team-content {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    color: #a8a8a8;
    padding-bottom: 44px;
}

.team-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
  
.team-list-item {   
    position: relative; 
    display: block;
    width: 380px;
    height: 470px;
    margin-right: 30px;  
    margin-bottom: 30px;
    font-size: 0;
    font-family:'Montserrat','Roboto', sans-serif;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(252,227,138,0.9), rgba(243,129,129,0.9));
    opacity: 0;
    z-index: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;  
}
  
.underlay {
    position: absolute;
    top:0;
    left:0;
    width: 380px;
    height: 470px;
    background-color: #95e1d3;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;  
}
  
.overlay-icons-block { 
    height: 56px;
    width: 227px;
    opacity: 0;
    z-index: 2;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;  
}
  
.icons {  
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.icons a {
    display: block;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    background-repeat: no-repeat;
    background-position: center;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;  
}
  
.facebook {
    background-image: url(../image/social/facebook.png);
}

.twitter {
    background-image: url(../image/social/twitter.png);
}

.pinterest {
    background-image: url(../image/social/pinterest.png);
}

.instagram {
    background-image: url(../image/social/instagram.png);
}
   
.team-list-item:hover .overlay,
.team-list-item:hover .underlay,
.team-list-item:hover .overlay-icons-block {
    opacity: 1;
} 
  
.team-list-item:hover img,
.team-list-item:hover .overlay {
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;    
}
  
.team-list-item:hover img,
.team-list-item:hover .overlay {
    transform: translate(-10px, -10px);
}
  
.icons a:hover {
    background-color: #95e1d3;
}
  
.team-part-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 13px;
}
  
.team-part-profession {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #999999;
    margin: 0 auto;
    padding: 0;
    font-family:'Montserrat','Roboto', sans-serif;
    font-style: italic;  
}
 
.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    height: 62px;
    border-top: 1px solid #e5e5e5;
}
  
.footer-tittle {
    margin: 0;
    padding: 0;
    padding-left: 22px;
    font-size: 16px;
    font-family:'Montserrat','Roboto', sans-serif;
}
  
.footer-tittle a { 
    text-decoration: none;
    color: #95e1d3;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear; 
}
  
.footer-tittle a:hover {
    color: #f38181;
}
  
.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
.button {
    border: none;
    box-sizing: border-box;
    text-transform: uppercase;
    width: 140px;
    height: 40px;
    background-color: #95e1d3;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
  
.button:hover {
    background-color: #f38181;
}
  
.wrapper form input {
    box-sizing: border-box;
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    border-right: none;
}
  
.wrapper form input::placeholder {
    padding-left: 12px;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    color: #e7e7e7;
}